// Headline/Display - Quicklime
// ==================================

// Thin
@font-face {
  font-family: "Quicklime";
  src: url("../fonts/quicklime-thin-webfont.woff2") format("woff2"),
    url("../fonts/quicklime-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

// Regular
@font-face {
  font-family: "Quicklime";
  src: url("../fonts/quicklime-regular-webfont.woff2") format("woff2"),
    url("../fonts/quicklime-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// Semibold
@font-face {
  font-family: "Quicklime";
  src: url("../fonts/quicklime-semibold-webfont.woff2") format("woff2"),
    url("../fonts/quicklime-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

// Bold
@font-face {
  font-family: "Quicklime";
  src: url("../fonts/quicklime-bold-webfont.woff2") format("woff2"),
    url("../fonts/quicklime-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Extrabold <- Most Headline/Display/Header Text will use this
@font-face {
  font-family: "Quicklime";
  src: url("../fonts/quicklime-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/quicklime-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

// Thin Italic
@font-face {
  font-family: "Quicklime";
  src: url("../fonts/quicklime-thinitalic-webfont.woff2") format("woff2"),
    url("../fonts/quicklime-thinitalic-webfont.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

// Italic
@font-face {
  font-family: "Quicklime";
  src: url("../fonts/quicklime-italic-webfont.woff2") format("woff2"),
    url("../fonts/quicklime-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

// Bold Italic
@font-face {
  font-family: "Quicklime";
  src: url("../fonts/quicklime-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/quicklime-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

// Extrabold Italic
@font-face {
  font-family: "Quicklime";
  src: url("../fonts/quicklime-extrabolditalic-webfont.woff2") format("woff2"),
    url("../fonts/quicklime-extrabolditalic-webfont.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

// Body Copy - Poppins
// ==================================

// Thin
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-thin-webfont.woff2") format("woff2"),
    url("../fonts/poppins-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

// Extra Light
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-extralight-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extralight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

// Light
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"),
    url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

// Regular
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// Medium
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

// Semibold
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

// Bold
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Extrabold
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

// Black
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-black-webfont.woff2") format("woff2"),
    url("../fonts/poppins-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

// Thin Italic
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-thinitalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-thinitalic-webfont.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

// Extralight Italic
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-extralightitalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extralightitalic-webfont.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

// Light Italic
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-lightitalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

// Italic
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

// Medium Italic
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-mediumitalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

// Semibold Italic
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-semibolditalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-semibolditalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

// Bold Italic
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

// Extrabold Italic
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-extrabolditalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extrabolditalic-webfont.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

// Black Italic
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins-blackitalic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
