@use "fonts";

// Font Family
$header-font: "Quicklime";
$body-font: "Poppins", sans-serif;

// Font Size (Mobile First)
$bodycopy: 10px;
$headercopy: 24px;
$caption: 8px;
$year-caption: 12px;
$title: 20px;

// Font Size (Tablet)
$m-bodycopy: 12px;
$m-headercopy: 32px;
$m-caption: 10px;
$m-year-caption: 14px;
$m-title: 24px;

// Font Size (Desktop)
$l-bodycopy: 14px;
$l-headercopy: 48px;
$l-caption: 12px;
$l-year-caption: 16px;
$l-title: 32px;

// Colors
// Primary
$k-black: #231f20;
$white: #ffffff;

// Primary - Accent
$k-magenta: #ff007a;
$k-blue: #00a3ff;
$k-orange: #ff8a00;

// Utility
$body-color: #464646;
$grey: rgb(139, 139, 139);


// Decoration
$decor-post: -1;
