@use "../abstracts/variables" as v;

.primary-btn {
    padding: 8px 20px 8px 20px;
    border: solid v.$k-black .5px;
    background-color: v.$k-black;
    color: v.$white;
    font-size: 12px;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all ease-in-out;

    span {
        margin-left: 10px;
    }
}

.primary-btn:hover {
    background: rgb(236,27,122);
    background: linear-gradient(45deg, rgba(236,27,122,1) 0%, rgba(73,153,212,1) 48%, rgba(245,137,31,1) 100%);
    color: v.$white;
    filter: contrast(1.75);
    border: solid v.$k-black 1px;
}

.secondary-btn {
    padding: 8px 16px 8px 16px;
    border: solid v.$k-black .5px;
    color: v.$k-black;
    font-size: 12px;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    backdrop-filter: blur(10px);
    transition: .3s all ease-in-out;

    span {
        margin-left: 10px;
    }
}

.secondary-btn:hover {
    background-color: v.$k-black;
    color: v.$white;

    a {
        color: v.$white;
    }

    span {
        filter: brightness(0) invert(1);
    }
}

.secondary-btn-white {
    padding: 8px 16px 8px 16px;
    border: solid v.$white .5px;
    color: v.$white;
    font-size: 12px;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    backdrop-filter: blur(10px);
    transition: .3s all ease-in-out;

    span {
        margin-left: 10px;
    }
}

.secondary-btn-white:hover {
    background-color: v.$white;
    color: v.$k-black;

    span {
        filter: brightness(0%)
    }
}

.email-contact-btn {
    padding: 10px 16px 10px 16px;
    border: solid v.$k-black .5px;
    color: v.$k-black;
    font-size: 16px;
    text-decoration: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    backdrop-filter: blur(10px);

    img {
        margin-left: 10px;
    }
}

.submit-btn {
    padding: 8px 20px 8px 20px;
    border: solid v.$k-black .5px;
    background-color: v.$k-black;
    color: v.$white;
    font-size: 12px;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all ease-in-out;
    cursor: pointer;
    

    span {
        margin-left: 10px;
    }
}

.submit-btn:hover {
    background: rgb(236,27,122);
    background: linear-gradient(45deg, rgba(236,27,122,1) 0%, rgba(73,153,212,1) 48%, rgba(245,137,31,1) 100%);
    color: v.$white;
    filter: contrast(1.75);
    border: solid v.$k-black 1px;
    // background: url(/images/others/3x/gradient-background@3x-8.png);
    // background-size: cover;
    // background-repeat: no-repeat;
}

.view-detail-btn {
    padding: 8px 12px 8px 12px;
    border: solid v.$k-black .5px;
    color: v.$k-black;
    font-size: 8px;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    backdrop-filter: blur(10px);
    transition: .3s all ease-in-out;

    span {
        margin-left: 10px;
    }
}

@media screen and (min-width: 768px) {
    .view-detail-btn {
        padding: 8px 12px 8px 12px;
        border: solid v.$k-black .5px;
        color: v.$k-black;
        font-size: 12px;
        text-decoration: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px 0;
        backdrop-filter: blur(10px);
        transition: .3s all ease-in-out;
    
        span {
            margin-left: 10px;
        }
    }
}