@use "../abstracts/variables" as v;

// Carousel
.carousel-cont {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 767px;

    #works-catalogue {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
}

// Cards
.work-card {
    flex: 0 0 100%;
    margin-top: 10px;
    margin-right: 20px;
    transition: transform 0.3s ease;

    p {
        display: flex;
        color: v.$bodycopy;
    }

    // Featured Work
    .f-wc-footer {
        display: flex;
        flex-direction: column;

        // Featured Work Thumbnail Tags
        .tag-lists {
            padding: 0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;
            

            li {
                margin-top: 18px;
                margin-right: 12px;
                font-size: v.$bodycopy;
                color: v.$body-color;
                list-style: none;
            }
        }
    }

    .wc-footer {
        display: flex;
        flex-direction: column;

        // Featured Work Thumbnail Tags
        .tag-lists {
            padding: 0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;
            

            li {
                margin-top: 18px;
                margin-right: 12px;
                font-size: v.$bodycopy;
                color: v.$body-color;
                list-style: none;
            }
        }
    }

    .thumb-img {
        img {
            border-radius: 20px;
        }
    }
}

// Tablet Size {
@media screen and (min-width: 768px) {
    .carousel-cont {
        position: relative;
        overflow: hidden;
        max-width: 767px;
        
        #works-catalogue {
            display: grid;
            grid-template-columns: repeat(12, 1fr); 
            grid-column-gap: 20px;
        }
    }

    .work-card {
        flex-direction: column;
        justify-content: start;
        width: 100%;
    
        p {
            display: flex;
            color: v.$bodycopy;
        }
    
        .f-wc-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            // Featured Work Thumbnail Tags
            .tag-lists {
                padding: 0;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: start;
                align-items: center;
                

                li {
                    margin-top: 0;
                    margin-right: 12px;
                    font-size: v.$m-bodycopy;
                    color: v.$body-color;
                    list-style: none;
                }
            }
        }

        .wc-footer {
            display: flex;
            flex-direction: column;
    
            // Featured Work Thumbnail Tags
            .tag-lists {
                padding: 0;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: start;
                align-items: center;
                
    
                li {
                    margin-top: 18px;
                    margin-right: 12px;
                    font-size: v.$m-bodycopy;
                    color: v.$body-color;
                    list-style: none;
                }
            }
        }
    
        .thumb-img {
            img {
                border-radius: 20px;
            }
        }
    }
}

// Desktop Size
@media screen and (min-width: 1200px) {
    .work-card {
        flex-direction: column;
        justify-content: start;
        margin: 15px auto;
    
        p {
            display: flex;
            color: v.$bodycopy;
        }
    
        .f-wc-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            // Featured Work Thumbnail Tags
            .tag-lists {
                padding: 0;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: start;
                align-items: center;
                

                li {
                    margin-top: 0;
                    margin-right: 12px;
                    font-size: v.$l-bodycopy;
                    color: v.$body-color;
                    list-style: none;
                }
            }
        }

        .wc-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .tag-lists {
                padding: 0;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: start;
                align-items: center;
                
    
                li {
                    margin-top: 18px;
                    margin-right: 12px;
                    font-size: v.$l-bodycopy;
                    color: v.$body-color;
                    list-style: none;
                }
            }
        }
    
        .thumb-img {
            img {
                border-radius: 20px;
            }
        }
    }
}

