@use "../abstracts/variables" as v;

.container-1 {
    padding: 4px 8px 4px 8px;
    border: solid v.$k-black .5px;
    color: v.$k-black;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

// More Works Button
.more-work-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

@media screen and (min-width: 768px) {
}
