@use "../abstracts/variables" as v;

// Font Color
.mgnt {
    color: v.$k-magenta;
}

.blu {
    color: v.$k-blue;
}

.orng {
    color: v.$k-orange;
}

.gry {
    color: v.$grey;
}

.header-section {
    font-family: v.$header-font;
    font-size: v.$headercopy;
    color: v.$k-black;
    font-weight: 800;
    margin-top: 20px;
}

.header-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: v.$header-font;
    font-size: v.$title;
    color: rgb(161, 161, 161);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

// Font-weight
.pb-bold {
    font-weight: 800;
}

// Font-size
.caption {
    font-size: 10px;
}

.works-year {
    font-size: 14px;
}

// Featured Work Thumbnail Tpography
.work-caption-cont {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
}

.case-no {
    font-size: v.$caption;
}

.year {
    font-size: v.$year-caption;
    font-weight: 600;
}

.thumb-work-title {
    font-size: v.$title;
    font-weight: 700;
}

// Work Archives
.work-archive-title {
    font-size: 14px;
    margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
    // Font Size
    .caption {
        font-size: 12px;
    }

    .works-year {
        font-size: 16px;
    }

    // Work Archives
    .work-archive-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .header-section {
        font-family: v.$header-font;
        font-size: v.$m-headercopy;
        color: v.$k-black;
        font-weight: 800;
        margin-top: 20px;
    }

    .header-section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        font-family: v.$header-font;
        font-size: v.$title;
        color: rgb(161, 161, 161);
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .work-caption-cont {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .case-no {
        font-size: v.$m-caption;
    }
    
    .year {
        font-size: v.$m-year-caption;
        font-weight: 600;
    }
    
    .thumb-work-title {
        font-size: v.$m-title;
        font-weight: 700;
    }
}

@media screen and (min-width: 1200px) {
    // Font Size
    .caption {
        font-size: 14px;
    }

    .works-year {
        font-size: 20px;
    }

    // Work Archives
    .work-archive-title {
        font-size: 20px;
        margin-bottom: 5px;
    }


    .header-section {
        font-family: v.$header-font;
        font-size: v.$l-headercopy;
        color: v.$k-black;
        font-weight: 800;
        margin-top: 20px;
    }
    
    .header-section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        font-family: v.$header-font;
        font-size: v.$headercopy;
        color: rgb(161, 161, 161);
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .work-caption-cont {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .case-no {
        font-size: v.$l-caption;
    }
    
    .year {
        font-size: v.$l-year-caption;
        font-weight: 600;
    }
    
    .thumb-work-title {
        font-size: v.$l-title;
        font-weight: 700;
    }
}